.productDetail {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .productDetail img {
    max-width: 300px;
    width: 100%;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
  }
  
  .productDetail__info {
    flex: 1;
  }
  
  .productDetail__info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .productDetail__info p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .productDetail__price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .productDetail__price small {
    font-size: 18px;
    margin-right: 5px;
  }
  
  .productDetail__rating {
    display: flex;
    margin-bottom: 20px;
  }
  
  .productDetail__rating p {
    font-size: 20px;
    margin-right: 5px;
  }
  
  .productDetail button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .productDetail button:hover {
    background-color: #ddb347;
  }
  